# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode
config/config.yaml
app/favorite/config/config.yml
app/search-engine/config/config.yml
app/user/config/config.yml
.idea
.fleet
app/user/logs
app/gateway/logs
app/favorite/logs
app/search_engine/logs
app/search_engine/data/db/*.dict
app/search_engine/data/db/*.forward
app/search_engine/data/db/*.inverted
app/search_engine/data/db/*.term
app/search_engine/data/db/segments.json
logs
source
.DS_Store
starrocks/
volumes
wukong_input_data/
other_input_data/
output_data/
*.txt
!requirements.txt
mr-*
wukong_100m*
*.trie_tree
data/
*.inverted
weights/
index/
venv/
.ruff_cache/