# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

api-gateway/config/config.yml
favorites/config/config.yml
search-engine/config/config.yml
user/config/config.yml
.idea
user/logs
api-gateway/logs
favorites/logs
search-engine/logs